@import './variables';

a {
    text-decoration: none;
}

.color {
    background-color: $primaryColor;
}

.table-headers,
.table-rows {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1.5fr;
}

.table-cell {
    display: flex;
    align-items: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: $height;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;
        h3 {
            font-size: 2rem;
            margin: 0;
        }
    }
    &-content {
        width: 50%;
        max-height: 400px;
        background-color: $whiteColor;
        padding: 16px;
        overflow: hidden;
        .modal-close {
            border: none;
            background-color: $whiteColor;
            &:hover {
                opacity: 0.7;
            }
        }
        button {
            font-size: 1.2rem;
        }
    }
}

.sidebar {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    padding: 30px;
    min-height: $height;
    color: $whiteColor;
}

.bg {
    background-color: $sideBarColor;
}

.navbar, .navbar1 {
    box-shadow: $shadowOne;
    height: 40px;
    padding: 0 12px;
    margin: 0 -12px;
    button {
        background-color: $whiteColor;
        border: none;
        svg {
            width: 20px;
        }
    }
    svg {
        width: 30px;
    }
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    .primary-btn {
        background-color: $sideBarColor;
        color: $whiteColor;
        &:hover {
            background-color: lighten($sideBarColor, 10);
        }
    }
}

.table-headers {
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid #d2d2d2;
    padding: 20px 0;
}

.table-rows {
    border-bottom: 1px solid #d2d2d2;
    padding: 20px 0;
}

.img-productRow {
    object-fit: contain;
    width: 70px;
    height: 70px;
    border: 0.2px solid #d2d2d2;
}

.no-result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}

.login-page {
    min-height: 100vh;
    background-color: lightblue;

    .login-modal {
        width: 40%;
        padding: 20px;
    }
}

.img-productDetail {
    width: 100%; 
    height: 210px;
    object-fit: contain;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
}

.img-productDetail.img {
    height:100px;
    object-fit: contain;
}

.img-active {
    opacity: 1;
    border: 1px solid lightseagreen;
}

.loading {
    height: 50vh;
}

.active {
    font-weight: bold;
}

.cart-title-link {
    line-height: 24px;
    max-height: 48px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
