$primary: black !default;

.objectFit {
    object-fit: contain;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@import 'node_modules/bootstrap/scss/bootstrap';
